*{
    padding: none;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out 0.5s;
    scroll-behavior: smooth;
}

.container {}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #C086C7;    



  }
  ::-webkit-scrollbar-thumb {
    background: #351342;
    border-radius: 2px;
  }
  
  @media only screen and (max-width: 768px) {

  }