@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


.container{
    display: flex;
    justify-content: space-between;
    /* animation: all; */
    transition: all ease-in-out 0.5s;
    height:5rem;
    align-items: center;
    background-color: #351342;
    color: #E8E8E8;
    font-family: "Mulish", sans-serif;
}

.text{
    font-size: 1.4 rem;
}
.logocont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.4rem;
}
.logo{
    height: 30px;
    width: 50px;

}
.links{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 1rem;
    /* margin-right: 1rem; */
}
a{
    text-decoration: none;
    color: #E8E8E8;
}
.iconButton {
    background: none;
    border: none;
    cursor: pointer;
  }

  .large_screens{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile_menu {
    padding-left: 1rem;
    padding-right: 1rem;
    display: none;
  }

  .mobile_logo > img{
    height: 1.2rem !important;
    /* width: 2rem ip !important; */
  }

  .displayMobileMenu {
    display: flex;
    flex-direction: column;
    color: white;
    z-index: 2;
    position: absolute;
    right: .2rem;
    top: 5.2rem;
    background-color: #351342;
    border-radius: .5rem;
    padding: .7rem .5rem;
  }

  .displayMobileMenu > a {
    margin: .2rem;
  }
  .hideMobileMenu {
    display: none;
  }

  @media only screen and (max-width: 768px){
    .large_screens{
        display: none;
    }
    .mobile_menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
    }
  }